<div class="first-scroll-container">
  <div class="name">
    <p> Hey, I am </p>
    <h1>Pascal Mies</h1>
  </div>
</div>
  <div class="arrow bounce"><i class="fa fa-angle-down fa-5x" aria-hidden="true"></i></div>
<div class="second-scroll-container">
  <div class="container">
  <h3 class="section-two-title"> What I have done </h3>
    <div class="row">
      <div class="achievement-card">
        <img class="achievement-card-picture" src="http://www.jrbull.com/file/thumb/file/7/752544&width=837&height=323&zwidth=837&zheight=323&x=419&y=161.png">
         <div class="achievement-card-description">
          <%= "Assistant Project Manager - Korsch AG" %>
        </div>
      </div>
      <div class="achievement-card">
        <img class="achievement-card-picture" src="https://i0.wp.com/futurefunded.co/wp-content/uploads/2018/02/Thumb-logo-Le-Wagon-FutureFunded.jpg?fit=600%2C300&ssl=1">
          <div class="achievement-card-description">
            <%= "Le Wagon - Fullstack Web-Developer" %>
          </div>
        </div>
      </div>
      <div class="achievement-card">
        <div class="achievement-card-description">
          <%= "6-Months in South America - Learning about people" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


