.achievement-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 350px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;

  .achievement-card-description {
    background-color: white;
    width: 350px;
    height: 90px;
    border-radius: 10px;
    text-align: left;
    margin-left: -10px;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }
}


.achievement-card-picture {
  height: 210px;
  width: 350px;
  padding: 10 10 10 0;
  margin-left: -10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.achievement-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

